/ourMastitisAnnotatedGenomes/
/commensalBovineAnnotatedGenomes/
/bovineCommensalRoary/
/DownloadingFilesFromNCBI/
/EricksonAssemblies/
/mastitisRoary/
/natureAssemblies/
/natureStuff/
/test_assemblies/
/reannotatedMastitisGenomes/
/allAnnotatedMastitisGenomes/
/AllCommensalBovineAssemblies/
/allMastitisAssemblies/
/APEC_assemblies/
/Avian_commensal/
/bovineCommensalAnnotatedGenomes/
/bovineCommensalRoary/
/concatenatedMastitisAssemblies/
/DownloadingFilesFromNCBI/
/EricksonAssemblies/
/mastitisRoary/
/mauveOutputs/
/natureAssemblies/
/natureStuff/
/ourMastitisAnnotatedGenomes/
/allAnnotatedMastitisGenomes/
/AllCommensalBovineAssemblies/
/allMastitisAssemblies/
/allMastitisAssembliesCopy/
/APEC_assemblies/
/Avian_commensal/
/bovineCommensalAnnotatedGenomes/
/bovineCommensalRoary/
/concatenatedMastitisAssemblies/
/concatenatedMastitisAssembliesCopy/
/DownloadingFilesFromNCBI/
/EricksonAssemblies/
/forDoingGenomeAlignment/
/mafft-7.475-with-extensions/
/mastitisRoary/
/mauveOutputs/
/megaCATS-main/
/natureAssemblies/
/natureStuff/
/ourMastitisAnnotatedGenomes/
/ragtag_output/
/ragtag_scaffold/
/ragtagCorrectAndScaffold/
/reannotatedMastitisGenomes/
/refGenomes/
/test_assemblies/
/SNPgenomes/
/SNPInsertAndDeleteGenomes/
/substSNPcombinedGenomes/
/allAnnotatedMastitisGenomes/
/AllAssemblies/
/allGsAlignOutputs/
/bovineCommensalAnnotatedGenomes/
/bovineCommensalRoary/
/concatenatedMastitisAssemblies/
/concatenatedMastitisAssembliesCopy/
/DownloadingFilesFromNCBI/
/EricksonAssemblies/
/forDoingGenomeAlignment/
/gsAlignOutputs/
/gsalignSNPsToMultipleAlign.build/
/hopefullyNotProblematicAssemblies/
/mafft-7.475-with-extensions/
/mastitisMultipleAlignmentStuff/
/mastitisRoary/
/megaCATS-main/
/NaturePredictiveSNPanalysis/
/natureStuff/
/parallelgsalignSNPsToMultipleAlign.build/
/ProbablyNotUsefulStuff/
/reannotatedMastitisGenomes/
/refGenomes/
/SNPInsertAndDeleteGenomes/
/substSNPcombinedGenomes/
/allAnnotatedMastitisGenomes/
/AllAssemblies/
/allGsAlignOutputs/
/bovineCommensalAnnotatedGenomes/
/bovineCommensalRoary/
/concatenatedMastitisAssemblies/
/concatenatedMastitisAssembliesCopy/
/DownloadingFilesFromNCBI/
/EricksonAssemblies/
/forDoingGenomeAlignment/
/gsAlignOutputs/
/gsalignSNPsToMultipleAlign.build/
/hopefullyNotProblematicAssemblies/
/mafft-7.475-with-extensions/
/mastitisMultipleAlignmentStuff/
/mastitisRoary/
/megaCATS-main/
/NaturePredictiveSNPanalysis/
/natureStuff/
/parallelgsalignSNPsToMultipleAlign.build/
/ProbablyNotUsefulStuff/
/reannotatedMastitisGenomes/
/refGenomes/
/SNPInsertAndDeleteGenomes/
/substSNPcombinedGenomes/
/allAnnotatedMastitisGenomes/
/AllAssemblies/
/allGsAlignOutputs/
/backups/
/bovineCommensalAnnotatedGenomes/
/bovineCommensalRoary/
/concatenatedMastitisAssemblies/
/concatenatedMastitisAssembliesCopy/
/DownloadingFilesFromNCBI/
/EricksonAssemblies/
/forDoingGenomeAlignment/
/gsalignSNPsToMultipleAlign.build/
/hopefullyNotProblematicAssemblies/
/InsertAndDeleteCombinedGenomes/
/k-12InsertsAndDeletes/
/k-12RefGenomeAnalysisFiles/
/k-12Subst/
/mafft-7.475-with-extensions/
/mastitisMultipleAlignmentStuff/
/mastitisRoary/
/megaCATS-main/
/miscDataFilesCreatedFromPrograms/
/NaturePredictiveSNPanalysis/
/natureStuff/
/parallelgsalignSNPsToMultipleAlign.build/
/ParsingMegaCatsResultsFiles/
/ProbablyNotUsefulStuff/
/reannotatedMastitisGenomes/
/refGenomes/
/SNPInsertAndDeleteGenomes/
/substSNPcombinedGenomes/
/.idea/