/ourMastitisAnnotatedGenomes/
/commensalBovineAnnotatedGenomes/
/bovineCommensalRoary/
/DownloadingFilesFromNCBI/
/EricksonAssemblies/
/mastitisRoary/
/natureAssemblies/
/natureStuff/
/test_assemblies/
/reannotatedMastitisGenomes/
/allAnnotatedMastitisGenomes/
/AllCommensalBovineAssemblies/
/allMastitisAssemblies/
/APEC_assemblies/
/Avian_commensal/
/bovineCommensalAnnotatedGenomes/
/bovineCommensalRoary/
/concatenatedMastitisAssemblies/
/DownloadingFilesFromNCBI/
/EricksonAssemblies/
/mastitisRoary/
/mauveOutputs/
/natureAssemblies/
/natureStuff/
/ourMastitisAnnotatedGenomes/
/allAnnotatedMastitisGenomes/
/AllCommensalBovineAssemblies/
/allMastitisAssemblies/
/allMastitisAssembliesCopy/
/APEC_assemblies/
/Avian_commensal/
/bovineCommensalAnnotatedGenomes/
/bovineCommensalRoary/
/concatenatedMastitisAssemblies/
/concatenatedMastitisAssembliesCopy/
/DownloadingFilesFromNCBI/
/EricksonAssemblies/
/forDoingGenomeAlignment/
/mafft-7.475-with-extensions/
/mastitisRoary/
/mauveOutputs/
/megaCATS-main/
/natureAssemblies/
/natureStuff/
/ourMastitisAnnotatedGenomes/
/ragtag_output/
/ragtag_scaffold/
/ragtagCorrectAndScaffold/
/reannotatedMastitisGenomes/
/refGenomes/
/test_assemblies/
