/ourMastitisAnnotatedGenomes/
/commensalBovineAnnotatedGenomes/
/bovineCommensalRoary/
/DownloadingFilesFromNCBI/
/EricksonAssemblies/
/mastitisRoary/
/natureAssemblies/
/natureStuff/
/test_assemblies/
/reannotatedMastitisGenomes/
/allAnnotatedMastitisGenomes/
/AllCommensalBovineAssemblies/
/allMastitisAssemblies/
/APEC_assemblies/
/Avian_commensal/
/bovineCommensalAnnotatedGenomes/
/bovineCommensalRoary/
/concatenatedMastitisAssemblies/
/DownloadingFilesFromNCBI/
/EricksonAssemblies/
/mastitisRoary/
/mauveOutputs/
/natureAssemblies/
/natureStuff/
/ourMastitisAnnotatedGenomes/
/allAnnotatedMastitisGenomes/
/AllCommensalBovineAssemblies/
/allMastitisAssemblies/
/allMastitisAssembliesCopy/
/APEC_assemblies/
/Avian_commensal/
/bovineCommensalAnnotatedGenomes/
/bovineCommensalRoary/
/concatenatedMastitisAssemblies/
/concatenatedMastitisAssembliesCopy/
/DownloadingFilesFromNCBI/
/EricksonAssemblies/
/forDoingGenomeAlignment/
/mafft-7.475-with-extensions/
/mastitisRoary/
/mauveOutputs/
/megaCATS-main/
/natureAssemblies/
/natureStuff/
/ourMastitisAnnotatedGenomes/
/ragtag_output/
/ragtag_scaffold/
/ragtagCorrectAndScaffold/
/reannotatedMastitisGenomes/
/refGenomes/
/test_assemblies/
/SNPgenomes/
/SNPInsertAndDeleteGenomes/
/substSNPcombinedGenomes/
/allAnnotatedMastitisGenomes/
/AllAssemblies/
/allGsAlignOutputs/
/bovineCommensalAnnotatedGenomes/
/bovineCommensalRoary/
/concatenatedMastitisAssemblies/
/concatenatedMastitisAssembliesCopy/
/DownloadingFilesFromNCBI/
/EricksonAssemblies/
/forDoingGenomeAlignment/
/gsAlignOutputs/
/gsalignSNPsToMultipleAlign.build/
/hopefullyNotProblematicAssemblies/
/mafft-7.475-with-extensions/
/mastitisMultipleAlignmentStuff/
/mastitisRoary/
/megaCATS-main/
/NaturePredictiveSNPanalysis/
/natureStuff/
/parallelgsalignSNPsToMultipleAlign.build/
/ProbablyNotUsefulStuff/
/reannotatedMastitisGenomes/
/refGenomes/
/SNPInsertAndDeleteGenomes/
/substSNPcombinedGenomes/
/allAnnotatedMastitisGenomes/
/AllAssemblies/
/allGsAlignOutputs/
/bovineCommensalAnnotatedGenomes/
/bovineCommensalRoary/
/concatenatedMastitisAssemblies/
/concatenatedMastitisAssembliesCopy/
/DownloadingFilesFromNCBI/
/EricksonAssemblies/
/forDoingGenomeAlignment/
/gsAlignOutputs/
/gsalignSNPsToMultipleAlign.build/
/hopefullyNotProblematicAssemblies/
/mafft-7.475-with-extensions/
/mastitisMultipleAlignmentStuff/
/mastitisRoary/
/megaCATS-main/
/NaturePredictiveSNPanalysis/
/natureStuff/
/parallelgsalignSNPsToMultipleAlign.build/
/ProbablyNotUsefulStuff/
/reannotatedMastitisGenomes/
/refGenomes/
/SNPInsertAndDeleteGenomes/
/substSNPcombinedGenomes/
/allAnnotatedMastitisGenomes/
/AllAssemblies/
/allGsAlignOutputs/
/backups/
/bovineCommensalAnnotatedGenomes/
/bovineCommensalRoary/
/concatenatedMastitisAssemblies/
/concatenatedMastitisAssembliesCopy/
/DownloadingFilesFromNCBI/
/EricksonAssemblies/
/forDoingGenomeAlignment/
/gsalignSNPsToMultipleAlign.build/
/hopefullyNotProblematicAssemblies/
/InsertAndDeleteCombinedGenomes/
/k-12InsertsAndDeletes/
/k-12RefGenomeAnalysisFiles/
/k-12Subst/
/mafft-7.475-with-extensions/
/mastitisMultipleAlignmentStuff/
/mastitisRoary/
/megaCATS-main/
/miscDataFilesCreatedFromPrograms/
/NaturePredictiveSNPanalysis/
/natureStuff/
/parallelgsalignSNPsToMultipleAlign.build/
/ResultsFromParsingMegaCats/
/ProbablyNotUsefulStuff/
/reannotatedMastitisGenomes/
/refGenomes/
/SNPInsertAndDeleteGenomes/
/substSNPcombinedGenomes/
/.idea/
/tests/testFiles/
.DS_Store
NZ_BIEN01000.fasta
__pycache__/
convertSNPAlignmentToNormalAlignment.py
gsalignSNPsToMultipleAlign.py
megacatsPythonOut.tsv
metaDataForMetaCatsWithExtraMastitis.csv
metaDataForMetaCatsWithExtraMastitisWithoutScaffoldNames.tsv
numSnpsWithinGenesAnimaltenFromEachCategory.tsv
numSnpsWithinGenesPathogenicitytenFromEachCategory.tsv
pathogenicityFirstMegaCats.tsv
scaffold_NZ_BIEN01000.txt
scr/snpalign/secondaryPythonScripts/.DS_Store
scr/snpalign/secondaryPythonScripts/AnnotatedGenomesAnalysis.py
scr/snpalign/secondaryPythonScripts/ComparingGenesFromGeneiousExtraction.py
scr/snpalign/secondaryPythonScripts/FindingCoreGenomes.py
scr/snpalign/secondaryPythonScripts/FindingGenePrevalences.py
scr/snpalign/secondaryPythonScripts/MakingSevereVsMildMastitisMetadata.py
scr/snpalign/secondaryPythonScripts/__pycache__/
scr/snpalign/secondaryPythonScripts/addLocusTags.py
scr/snpalign/secondaryPythonScripts/checkingForMisAlignInIndexes.py
scr/snpalign/secondaryPythonScripts/checkingIfMastitisStrainsHaveSecondGlmU.py
scr/snpalign/secondaryPythonScripts/codons.txt
scr/snpalign/secondaryPythonScripts/combiningFastaFiles.py
scr/snpalign/secondaryPythonScripts/comparingCoreGenomesMyWay.py
scr/snpalign/secondaryPythonScripts/comparingPanGenomesFromRoaryFiles.py
scr/snpalign/secondaryPythonScripts/concatenateContigs.py
scr/snpalign/secondaryPythonScripts/diffOnRoaryAnalyses.py
scr/snpalign/secondaryPythonScripts/fastaFileContainsContigsOfAnother.py
scr/snpalign/secondaryPythonScripts/findingOddGenomeOut.py
scr/snpalign/secondaryPythonScripts/fixingPathogenicityFile.py
scr/snpalign/secondaryPythonScripts/getGenomeWithSNP.py
scr/snpalign/secondaryPythonScripts/getIndelStatsOutOfCombinedStats.py
scr/snpalign/secondaryPythonScripts/moveDuplicatesIntoNewFolder.py
scr/snpalign/secondaryPythonScripts/pValueHistogram.py
scr/snpalign/secondaryPythonScripts/removingEndlOnAssemblies.py
scr/snpalign/secondaryPythonScripts/scratchFile.py
scr/snpalign/secondaryPythonScripts/separatingContigFiles.py
scr/snpalign/secondaryPythonScripts/separatingGenomesFromSingleFastaFile.py
scr/snpalign/secondaryPythonScripts/sortNatureAssemblies.py
scr/snpalign/secondaryPythonScripts/testingMultiAlignUsingAnnotatedFiles.py
scr/snpalign/secondaryPythonScripts/unAnnotatedGbFilesToFasta.py
sigSNPsByPosOnRefGenometenFromEachCategory.txt
tests/.DS_Store
tests/__pycache__/
tests/conceptTests/__pycache__/
tests/testFiles/.DS_Store
tests/testFiles/AssemblyAnnotations/
tests/testFiles/annotatedNormalAlignFiles/
tests/testFiles/fakeAssemblies/
tests/testFiles/fakeScaffolds/
tests/testFiles/filesToReplicateSingleAignError/
tests/testFiles/output.maf
tests/testFiles/pirate/
tests/testFiles/scaffold_1465_SS_220.fasta
tests/testFiles/scaffold_1465_SS_220.fasta.gbk
tests/testFiles/scaffold_1465_SS_220.vcf
tests/testFiles/scaffold_1465_SS_220SingleAlignment.vcf
tests/testFiles/scaffold_1466_SS_221.fasta
tests/testFiles/scaffold_1466_SS_221.fasta.gbk
tests/testFiles/scaffold_1466_SS_221.vcf
tests/testFiles/scaffold_1466_SS_221SingleAlignment.vcf
tests/testFiles/scaffold_1467_SS_222.fasta
tests/testFiles/scaffold_1467_SS_222.fasta.gbk
tests/testFiles/scaffold_1467_SS_222.vcf
tests/testFiles/scaffold_1467_SS_222SingleAlignment.vcf
tests/testFiles/scaffold_1468_SS_223.fasta
tests/testFiles/scaffold_1468_SS_223.fasta.gbk
tests/testFiles/scaffold_1468_SS_223.vcf
tests/testFiles/scaffold_1468_SS_223SingleAlignment.vcf
tests/testFiles/scaffold_1469_SS_224.fasta
tests/testFiles/scaffold_1469_SS_224.fasta.gbk
tests/testFiles/scaffold_1469_SS_224.vcf
tests/testFiles/scaffold_1469_SS_224SingleAlignment.vcf
tests/testFiles/scaffolds/
tests/testFiles/snpAlign/
tests/testFiles/tenAssembliesFromEachCategory/
tests/testFiles/vcfsFromScaffolds/
tests/unitTests/__pycache__/
tests/unitTests/k-12.amb
tests/unitTests/k-12.ann
tests/unitTests/k-12.bwt
tests/unitTests/k-12.fasta
tests/unitTests/k-12.fasta.gbk
tests/unitTests/k-12.gbff
tests/unitTests/k-12.pac
tests/unitTests/k-12.sa

/scr/snpalign/secondaryPythonScripts/
